*{
    margin: 0;
    padding: 0;
}

.indexbg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
}
article h1{
    color: black;
    text-align: center;
    visibility: hidden;
}
article h3{
    color: rgb(255, 255, 255) !important;;
    width: 75%;
    margin: 0 auto;
    text-align: center;    
}
article{
    margin-top: 1vh;
}
figure{
    text-align: center;
    margin-top: 5vh;
}
figure embed{
    width: 55%;
    margin: 0 auto;
    height: 50vh;
}
footer{
    text-align: center;
    color: white !important;
    width: 100%;
}
.nav-link{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 3vh;
}
.nav-link:hover{
    color: white !important;
}
nav{
    background-color: rgb(0, 0, 0) !important;;
}

