*{
    margin: 0;
    padding: 0;
}
.searchbg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
}
article h1{
    color: rgb(255, 255, 255);
    text-align: center;
    visibility: hidden;
}
article h3{
    color: rgb(255, 255, 255) !important;;
    width: 75%;
    margin: 0 auto;
    text-align: center;    
}
article{
    margin-top: 3vh;
}
footer{
    text-align: center;
    color: white !important;
    bottom: 0;
    position: fixed;
    width: 100%;
    visibility: hidden;
}
.nav-link{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 3vh;
}
.nav-link:hover{
    color: white !important;
}
nav{
    background-color: rgb(0, 0, 0) !important;;
}
form{
    text-align: center;
    border-radius: 2px;
    margin: 2rem 45rem;
    padding: 2rem;
}
form label{
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 2rem;

}
form select{
    width: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.location-detail{
    font-size: 1rem;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.59);
}
span{
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
}
